<!DOC<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>코드 상세보기</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <div class="container">
        <div class="header">
        </div>
        <div class="main">
            <div class="tabs">
                <button class="tab-button">판매관리</button>
                <button class="tab-button active">코드관리</button>
            </div>
            <div class="form">
                <h2>제품코드 상세조회</h2>
                <form>
                    <label for="code">코드</label>
                    <input type="text" id="code" name="code">
                    
                    <label for="codeName">코드 명</label>
                    <input type="text" id="codeName" name="codeName">
                    
                    <button type="update">수정</button>
                    <button type="delete">삭제</button>
                    
                </form>
            </div>
            <div class="table-section">
                <h2>코드 관리</h2>
                <div class="table-controls">
                    <button class="register-button">등록</button>
                    <input type="text" placeholder="검색">
                    <button class="search-button">검색</button>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>번호</th>
                            <th>코드</th>
                            <th>코드명</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
